/* ===== VARIABLES CSS ===== */
:root {
    --header-height: 3.5rem;

    /*===== COLORS ===== */
    /* color mode HSL(hue, saturation, lightness) */
    --first-color: hsl(14, 98%, 50%);
    --black-color: hsl(0, 0%, 0%);
    --black-color-light: hsl(0, 0%, 40%);
    --white-color: hsl(0, 0%, 95%);
    --title-color: hsl(0, 0%, 0%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 64%);
    --body-color: hsl(0, 0%, 87%);
    --container-color: hsl(0, 0%, 83%);

    /* ===== FONT and TYPOGRAPHY ===== */
    /* .5rem = 8px | 1rem = 16px */
    --body-font: "Bai Jamjuree", sans-serif;
    --biggest-font-size: 2.5rem;
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ===== FONT WEIGHT ===== */
    --font-regular: 400;
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /* ====== Z INDEX ===== */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ===== RESPONSIVE TYPOGRAPHY ===== */
@media screen and (min-width: 1150px) {
    :root {
        --biggest-font-size: 4.5rem;
        --h1-font-size: 3rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }

}





/* Small device */
@media (min-width: 768.9px) {
    .nav_name,
    .nav_close,
    .nav_toggle,
    .nav_title {
        display: none;
    }

}
@media (max-width: 240px) {
    /* ============ Header Area =================== */

    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .75);
        width: 100%;
        padding-block: 1.8rem 5rem;
        text-align: center;
        backdrop-filter: blur(8px);
        transition: top .4s;
        -webkit-transition: top .4s;
        -moz-transition: top .4s;
        -ms-transition: top .4s;
        -o-transition: top .4s;
    }
    .show_menu{
        top: 0;
    }
    .nav_name::after,
    .nav_name::before{
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background-color: var(--text-color-light);
        top: 50%;
        left: -4rem;
    }
    .nav_name::before{
        left: initial;
        right: -4rem;
    }
    .navbar{
        flex-direction: column;
        margin-left: auto;
        margin-top: 3rem;
        
    }
    .navbar a{
        color: var(--text-color-light);
        font-size: var(--h3-font-size);
        font-weight: var(--font-semi-bold);
    }
    .navbar a::after{
        background-color: var(--white-color);
    }
    .navbar a:hover,
    .navbar .active{
        color: var(--white-color);
    }
    .navbar .contact_link{
        background-color: transparent;
        color: var(--text-color-light);
        padding: 0;
    }
    .navbar .contact_link::after{
        background-color: var(--white-color);
    }
    .nav_close{
        position: absolute;
        font-size: 1.5rem;
        top: .8rem;
        right: 2.2rem;
        cursor: pointer;
    }


/* =============== Hero Area =========== */

    .hero_area{
        height: unset;
    }
    .hero_container{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        padding-top: 1rem;
    }
    .hero_perfill{
        order: 0;
    }
    .hero_image{
        width: 80px;
}
    .hero_arrow{
        left: 2.5rem;
        bottom: -1.8rem;
        width: 20px;
        rotate: 360deg;
    }
    .hero_line{
        right: -1.2rem;
        bottom: 0rem;
        width: 28px;
        rotate: 0deg;
    }
    .geometric_box{
        width: 12px;
        height: 12px;
        top: 2rem;
        left: -0.4rem;
    }
    .geometric_box::after{
        width: 8px;
        height: 8px;
    }
    .hero_social{
        right: 15rem;
    }
    .hero_social_link{
        font-size: 1.5rem;
    }
    .hero_name{
        text-align: center;
        margin: -11rem 0 10rem;
    }
    .hero_description{
        font-size: var(--smaller-font-size);
        text-align: center;
        margin-bottom: 1rem;
        padding: 0;
    }
    .hero_description::after{
        display: none;
    }
    .hero_scroll{
        justify-content: center;
    }
    .hero_scroll_box{
        width: 25px;
        height: 25px;
    }
    .hero_scroll_text{
        display: none;
    }


/* =========== ABOUT AREA ============ */

    .about_section{
        height: unset;
    }
    .about_container{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        padding-top: 6rem;
    }
    .about_img{
        width: 220px;
        border: 4px solid var(--white-color);
        margin-left: 1rem;
    }
    .about_shadow{
        width: 175px;
        height: 400px;
        top: -3rem;
        right: 3rem;
        border-bottom: 4px solid var(--first-color);
    }
    .about_perfill
    .geometric_box{
        left: 16.5rem;
        top: 2rem;
    }
    .about_line{
        width: 60px;
        right: 5.5rem;
        top: 8rem;
    }
    .about_box{
        width: 40px;
        height: 40px;
        left: 12.5rem;
        bottom: 36px;
    }
    .about_info .section_title-1{
        margin: -35rem auto 30rem;
    }
    .about_info .section_title-1::after{
        width: 3rem;
        height: 1.5rem;
    }
    .about_details{
        margin-top: 3rem;
        padding-left: 1.5rem;
    }
    .about_description{
        font-size: var(--normal-font-size);

    }
    .about_description::after{
        width: 25px;
        height: 1px;
        left: -2rem;
        top: .5rem;
    }
    .about_buttons{
        margin-top: 2rem;
        justify-content: center;
    }


}

/* Small devices landscape phones */
@media (max-width: 768.9px) {
    section{
        padding-block: 3.5rem 3rem;
    }
    .container{
        max-width: 92%;
    }

/* ============ Header Area =================== */

    .nav_menu{
        position: fixed;
        top: -100%;
        left: 0;
        background-color: hsla(0, 0%, 0%, .75);
        width: 100%;
        padding-block: 1.8rem 5rem;
        text-align: center;
        backdrop-filter: blur(8px);
        transition: top .4s;
        -webkit-transition: top .4s;
        -moz-transition: top .4s;
        -ms-transition: top .4s;
        -o-transition: top .4s;
    }
    .show_menu{
        top: 0;
    }
    .nav_name::after,
    .nav_name::before{
        position: absolute;
        content: '';
        width: 40px;
        height: 1px;
        background-color: var(--text-color-light);
        top: 50%;
        left: -4rem;
    }
    .nav_name::before{
        left: initial;
        right: -4rem;
    }
    .navbar{
        flex-direction: column;
        margin-left: auto;
        margin-top: 3rem;
        
    }
    .navbar a{
        color: var(--text-color-light);
        font-size: var(--h3-font-size);
        font-weight: var(--font-semi-bold);
    }
    .navbar a::after{
        background-color: var(--white-color);
    }
    .navbar a:hover,
    .navbar .active{
        color: var(--white-color);
    }
    .navbar .contact_link{
        background-color: transparent;
        color: var(--text-color-light);
        padding: 0;
    }
    .navbar .contact_link::after{
        background-color: var(--white-color);
    }
    .nav_close{
        position: absolute;
        font-size: 1.5rem;
        top: .8rem;
        right: 2.2rem;
        cursor: pointer;
    }


/* =============== Hero Area =========== */

    .hero_area{
        height: unset;
    }
    .hero_container{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        padding-top: 9rem;
    }
    .hero_perfill{
        order: 0;
    }
    .hero_image{
        width: 220px;
}
    .hero_arrow{
        left: 6rem;
        bottom: -5rem;
        width: 60px;
        rotate: 360deg;
    }
    .hero_line{
        right: -3rem;
        bottom: 0rem;
        width: 60px;
        rotate: 0deg;
    }
    .geometric_box{
        width: 18px;
        height: 18px;
        top: 2.5rem;
        left: -.6rem;
    }
    .geometric_box::after{
        width: 13px;
        height: 13px;
    }
    .hero_social{
        right: 15rem;
    }
    .hero_social_link{
        font-size: 1.5rem;
    }
    .hero_name{
        text-align: center;
        margin: -28rem 0 29rem;
    }
    .hero_description{
        font-size: var(--normal-font-size);
        text-align: center;
        margin-bottom: 1.5rem;
        padding: 0;
    }
    .hero_description::after{
        display: none;
    }
    .hero_scroll{
        justify-content: center;
    }
    .hero_scroll_box{
        width: 35px;
        height: 35px;
    }
    .hero_scroll_text{
        display: none;
    }


/* =========== ABOUT AREA ============ */

    .about_section{
        height: unset;
    }
    .about_container{
        grid-template-columns: repeat(1, auto);
        justify-content: center;
        padding-top: 6rem;
    }
    .about_img{
        width: 220px;
        border: 4px solid var(--white-color);
        margin-left: 1rem;
    }
    .about_shadow{
        width: 175px;
        height: 400px;
        top: -3rem;
        right: 3rem;
        border-bottom: 4px solid var(--first-color);
    }
    .about_perfill
    .geometric_box{
        left: 16.5rem;
        top: 2rem;
    }
    .about_line{
        width: 60px;
        right: 5.5rem;
        top: 8rem;
    }
    .about_box{
        width: 40px;
        height: 40px;
        left: 12.5rem;
        bottom: 36px;
    }
    .about_info .section_title-1{
        margin: -35rem auto 30rem;
    }
    .about_info .section_title-1::after{
        width: 3rem;
        height: 1.5rem;
    }
    .about_details{
        margin-top: 3rem;
        padding-left: 1.5rem;
    }
    .about_description{
        font-size: var(--normal-font-size);

    }
    .about_description::after{
        width: 25px;
        height: 1px;
        left: -2rem;
        top: .5rem;
    }
    .about_buttons{
        margin-top: 2rem;
        justify-content: center;
    }


/* ============= Services Area ================== */
    .service_section{
        height: unset;
    }
    .service_section .section_title-1{
        margin-bottom: 3rem;
    }
    .service_container{
        grid-template-columns: repeat(2, 280px);
        column-gap: 3rem;
        row-gap: 2.5rem;
    }
    .service_border{
        border: 3px solid var(--first-color);
    }
    .service_content{
        border: 4px solid var(--black-color);
    }


/* ================== Project Area ============== */


.project_section .section_title-1{
    margin-bottom: 3rem;
}
    .project_container{
        grid-template-columns: repeat(2, 320px);
    }
    .project_button{
        padding: .5rem;
    }



/* ================== Contact Area ============== */


    .contact_section{
        padding-bottom: 0;
    }
    .contact_container{
        grid-template-columns: repeat(1, 500px);
    }
    .contact_data{
        width: 350px;
        height: 320px;
        padding: 4rem 1.5rem;
        margin-inline: auto;
        margin: auto;
    }
    .contact_data .geometric_box{
        top: 3rem;
        left: 18rem;
    }
    .contact_mail{
        grid-column: unset;
        grid-row: unset;
        padding: 5.5rem 1.5rem 2.5rem;
        margin-top: -3rem;
    }
    .contact_title{
        text-align: center;
    }
    .contact_button{
        width: auto;
        background-color: var(--first-color);
    }
    .contact_button:hover{
        background-color: transparent;
        color: var(--white-color);
    }
    .contact_social{
        margin-left: unset;
        margin-top: unset;
        padding: 1rem 0 2.5rem;
    }
    .contact_social_arrow{
        width: 40px;
    }
    .contact_social_container{
        flex-direction: column;
        text-align: center;
    }


/* ================== Footer Area ============== */


    .footer_container{
        grid-template-columns: repeat(1,  max-content);
        row-gap: 1.5rem;
        padding-block: 3rem 2rem;
        justify-content: center;
    }
    .footer_navbar{
        order: -1;
        column-gap: 1.5rem;
        flex-direction: unset;
        row-gap: unset;
        align-items: unset;

    }


/* ================== Scrollup Area ============== */


    .scrollup{
        right: 2rem;
        bottom: 3rem;
    }
}
/* medium devices tablets */
@media (max-width: 992px) {
    
}

/* Large devices desktops */
@media (max-width: 1200px) {
    
}

/* X-large devices large desktops */
@media (max-width: 1400px) {

}
























